@model IEnumerable<teve_guide.Models.db.tv_shows>

@{
    ViewBag.Title = "På teve just nu";
    var imagePath=""; 
if (Request["Choice"] != null)
   {imagePath="images/" + Request["Choice"];} 
}

<h2>Teve Guide - på teve just nu!</h2>

<strong>Vi tipsar om dessa program</strong>
<table>
    <tr>
        <td>@Html.Partial("_Puff1")</td>
        <td>@Html.Partial("_Puff2")</td>
        <td>@Html.Partial("_Puff3")</td>
    </tr>
</table>

<br />
<h3>Just nu visas:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Starttime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Starttime < DateTime.Now && item.Endtime > DateTime.Now)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Starttime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    @Html.ActionLink("Dagens Tv-program på aktuell kanal", "CurrentTvTable", new { channel = item.Channel })<br />
                    @Html.ActionLink("Mer info", "Details", new { id = item.Id }) 
                </td>
            </tr>
        }
    }

</table>
