@model IEnumerable<teve_guide.Models.db.tv_shows>


@{
    ViewBag.Title = "Min sida";

    //var channelChoice = "";
    //if (Request["Choice"] != null)
    //{ channelChoice = Request["Choice"]; }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPage</title>
</head>
<body>
    @*<form method="post" action="">
        Mina kanaler:
        <select name="Choice">
            <option value="SVT1">SVT 1</option>
            <option value="SVT2">SVT 2</option>
            <option value="SVT24">SVT 24</option>
            <option value="TV4">TV 4</option>
            <option value="TV6">TV 6</option>
        </select>
        <input type="submit" value="Välj" />
    </form>*@ 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>@ViewBag.Message</p>
    
        @using (Html.BeginForm("MyPage","tv_shows", FormMethod.Post, new { id="Form1"}))
        {
            <div class="form-group">
                
                <input type="checkbox" class="checkbox" name="channel" value="SVT1" />SVT 1

                
                <input type="checkbox" class="checkbox" name="channel" value="SVT2" />SVT 2

                
                <input type="checkbox" class="checkbox" name="channel" value="SVT24" />SVT 24

             
                <input type="checkbox" class="checkbox" name="channel" value="TV4" />TV 4

              
                <input type="checkbox" class="checkbox" name="channel" value="TV6" />TV 6
                    
                <input name="btnChannel" type="submit" value="button" class="btn btn-default" />
            </div>

            <div>
              <label class="control-label" for="Feedback"></label>
                @Html.Label("Feedback", ViewData ["channel"])
            </div>
        }

    @*@using (Html.BeginForm())
    {
        <table>
            @for (int i = 0; i < model.Channel.Count; i++)
            {
<td>
    @Html.CheckBoxFor(model => model.Channel[i].IsChecked)
    <label>@model.Channel[i]</label>
</td>
            }
        </table>
        <input type="submit" value="Submit" />
    }*@


                @*<form method="post" id="formRegistration" action="GetChannel"></form>*@
                @*<input id="SVT1" type="checkbox" />*@
                @*<input name="@ nameof(@model.distinct(Channel)))" />*@
                @*@Model.db.Channel = string channel;*@

                @*@bool CheckChannels(checkbox)
                    {
                        @if("CheckboxSVT1" = true)
                        {
                            string channel = @Model.Channel;
                        }
                    }*@

                @*@using (Html.BeginForm("test", "User", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                      {
                       @Html.AntiForgeryToken()

                       <fieldset>
                           <legend>Test CheckBox</legend>

                           <table>
                               <tr>
                                   <td>@Html.Label("Select"):</td>
                                   <td>@Html.CheckBox("FlatFile", false)</td>
                               </tr>
                               <tr>
                                   <td colspan="2"><input type="submit" value="Check" /></td>
                               </tr>
                               <tr>
                                   <td>@ViewBag.Message</td>
                               </tr>
                           </table>
                       </fieldset>
                      }*@

                @*@Html.CheckBox("SVT1")
                    @Html.CheckBox("SVT2")*@

                @*bool checked = Request.Form.Allkeys.Where(c=>c.Contains("checkedArchive")).FirstOrDefault()!=null;*@
            

    @*@if ("CheckboxSVT1" == checked)
        {*@
    @*<section>
        <h2><strong>SVT 1</strong></h2>

        @foreach (var tc in Model)
        {
            if (@tc.Channel == "SVT 1")
            {
                <div>
                    <h3>
                        @tc.Starttime
                        @tc.Title
                    </h3><h4>
                        @Html.ActionLink("Mer information", "ShowTvShow", new { id = tc.Id }, null)
                        </h4>
                </div>
            }
        }
    </section>*@
    @*}*@


        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th></th>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Starttime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Channel)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

    </table>
</body>
</html>
