@model IEnumerable<teve_guide.Models.db.tv_shows>


@{
    ViewBag.Title = "Min sida";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPage</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p>
        @using (Html.BeginForm())
        {
            <h4>SVT 1</h4>
            <input type="checkbox" class="checkbox" name="SVT1" value="true"/>

            <h4>SVT 2</h4>
            <input type="checkbox" class="checkbox" name="SVT2" value="true"/>

            <h4>SVT 24</h4>
            <input type="checkbox" class="checkbox" name="SVT24" value="true" />

            <h4>TV 4</h4>
            <input type="checkbox" class="checkbox" name="TV4" value="true" />

            <h4>TV 6</h4>
            <input type="checkbox" class="checkbox" name="TV6" value="true" />

            <input name="btnChannel" type="submit" value="button" class="btn btn-default" />
        }

        @*<form method="post" id="formRegistration" action="GetChannel"></form>*@
        @*<input id="SVT1" type="checkbox" />*@
        @*<input name="@ nameof(@model.distinct(Channel)))" />*@
        @*@Model.db.Channel = string channel;*@

        @*@bool CheckChannels(checkbox)
        {
            @if("CheckboxSVT1" = true)
            {
                string channel = @Model.Channel;
            }
        }*@
        
       @*@using (Html.BeginForm("test", "User", FormMethod.Post,
     new { enctype = "multipart/form-data" }))
       {
        @Html.AntiForgeryToken()

        <fieldset>
            <legend>Test CheckBox</legend>

            <table>
                <tr>
                    <td>@Html.Label("Select"):</td>
                    <td>@Html.CheckBox("FlatFile", false)</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Check" /></td>
                </tr>
                <tr>
                    <td>@ViewBag.Message</td>
                </tr>
            </table>
        </fieldset>
       }*@

        @*@Html.CheckBox("SVT1")
        @Html.CheckBox("SVT2")*@

        @*bool checked = Request.Form.Allkeys.Where(c=>c.Contains("checkedArchive")).FirstOrDefault()!=null;*@
    </p>
  
    @*@if ("CheckboxSVT1" == checked)
        {*@
    @*<section>
        <h2><strong>SVT 1</strong></h2>

        @foreach (var tc in Model)
        {
            if (@tc.Channel == "SVT 1")
            {
                <div>
                    <h3>
                        @tc.Starttime
                        @tc.Title
                    </h3><h4>
                        @Html.ActionLink("Mer information", "ShowTvShow", new { id = tc.Id }, null)
                        </h4>
                </div>
            }
        }
    </section>*@
    @*}*@


        <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Channel)
            </th>
            <th></th>
        </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Starttime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Channel)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@ |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

    </table>
</body>
</html>
