
@model IEnumerable<teve_guide.Models.db.tv_shows>

@{
    ViewBag.Title = "På teve just nu";
    var puff1 = 5002;
}


<br />

<table class="table">
    <tr>
        <td>
            <!--Puff-->

            @foreach (var p in Model)
            {

                if (p.Id==puff1)
                {
                <strong>@p.Title</strong> <br />
                @p.Substance <br />
                @p.Channel <br />
                @p.Starttime <br />

                @Html.ActionLink("Mer info", "Details", new { id = p.Id }) <br />
                }
            }



        </td>

    </tr>
</table>
