@model IEnumerable<teve_guide.Models.db.tv_shows>
@{
    ViewBag.Title = "På TV om tre dagar";
}
<h2>@ViewBag.Title</h2>
<h3>@DateTime.Today.AddDays(3)</h3>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Starttime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.Starttime > DateTime.Today.AddDays(3) && item.Endtime < DateTime.Today.AddDays(4))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Starttime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    @Html.ActionLink("Mer info", "ShowDetails", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>

